<!DOCTYPE html>
<html>
  <head>
    <title>HomeyTest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto bg-blue-200 h-full min-h-screen">
      <div class="flex bg-gray-700 py-5 px-10">
        <div class="flex-grow align-right text-white text-3xl">
        <%= yield :title %>
        </div>
        <div class="flex-none justify-self-self">
          <%= yield :header_button %>
        </div>
      </div>
      <div class="px-10">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
